{% extends 'libro/base.html' %}

{% block title %}
    <title>Fabulivum - {{ usuario.username }}</title>
    <meta name="author" content="Javier Farré Avilés, {{ usuario.username }}">
{% endblock %}

{% block content %}
    <h1>Fabulivum</h1>
    <h2>{{ usuario.username }}</h2>
    <p>Sobre mí</p>
    <p>{{ usuario.sobre_mi }}</p>
    <ul>
        {% for libro in object_list %}
            <li><a href="{% url 'usuario' pk=usuario.pk %}">{{ libro.titulo }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}