{% extends 'libro/base.html' %}

{% block title %}
    <title>Fabulivum - {{ capitulo.titulo }}</title>
    <meta name="author" content="Javier Farré Avilés, {{ capitulo.autor.username }}">
{% endblock %}

{% block content %}
    <h1>{{ capitulo.titulo }}</h1>
    <h2>{{ capitulo.libro.titulo }} - {{ capitulo.autor.username }}</h2>
    {% for precuela in secuela_de %}
        {% if precuela.numero < capitulo.numero %}
            <p><a href="{% url 'capitulo' pk=precuela.pk %}">{{ precuela.titulo }}</a></p>
        {% endif %}
    {% endfor %}
    <p>{{ capitulo.texto_principal }}</p>
    {% for secuela in secuela_de %}
        {% if secuela.numero > capitulo.numero %}
            <p><a href="{% url 'capitulo' pk=secuela.pk %}">{{ secuela.titulo }}</a></p>
        {% endif %}
    {% endfor %}
{% endblock %}