{% extends 'libro/base.html' %}

{% block title %}
    <title>Fabulivum - {{ capitulo.titulo }}</title>
    <meta name="author" content="Javier Farré Avilés, {{ capitulo.autor.username }}">
{% endblock %}

{% block content %}
    <h2>{{ capitulo.titulo }}</h2>
    <h3><a href="{% url 'libro' pk=capitulo.libro.pk %}">{{ capitulo.libro.titulo }}</a> - {{ capitulo.autor.username }}</h3>
    {% for precuela in precuelas %}
        <p><a href="{% url 'capitulo' pk=precuela.pk numero=precuela.numero %}">{{ precuela.titulo }}</a></p>
    {% endfor %}
    <p class="poppins-regular">{{ capitulo.texto_principal|linebreaks }}</p>
    {% for secuela in secuelas %}
        <p><a href="{% url 'capitulo' pk=secuela.pk numero=secuela.numero %}">{{ secuela.titulo }}</a></p>
    {% empty %}
        <p><a href="{% url 'libro' pk=capitulo.libro.pk %}">Capitulo terminado</a></p>
    {% endfor %}
{% endblock %}