{% extends 'libro/base.html' %}

{% block title %}
    <title>Fabulivum - {{ libro.titulo }}</title>
    <meta name="author" content="Javier Farré Avilés, {{ libro.autor.username }}.">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">    
            <h2>{{ libro.titulo }}</h2>
            {% if libro.portada %}
                <p><img class="imagenes" src="{{ libro.portada.url }}" alt="Portada de {{ libro.titulo }}"></p>
            {% endif %}
            <h3>Sinopsis</h3>
            <p>{{ libro.descripcion }}</p>
            <p><strong>Inicio de publicación:</strong> {{ libro.inicio_publicacion }}</p>
            {% if libro.fin_publicacion is not empty %}
                <p><strong>Fin de publicación:</strong> {{ libro.fin_publicacion }}</p>
            {% endif %}
            {% if libro.autor == user %}
                <p>{{ libro.lector.count }} lector{% if libro.lector.count != 1 %}es{% endif %}</p>
                <p class="menu-autor-libro"><a href = "{% url 'editar_el_libro' pk=libro.pk %}">Editar libro</a></p>
                {% if libro.fin_publicacion is empty %}
                    <p class="menu-autor-libro"><a href = "{% url 'nuevo_capitulo' libro=libro.pk %}">Nuevo Capitulo</a></p>
                    <p><form action="{% url 'fin_de_publicacion' pk=libro.pk %}" method="post" class="menu-autor-libro">{% csrf_token %}
                        <button class="boton-enlace">Fin de publicación</button>
                    </form></p>
                {% endif %}
                <p class="menu-autor-libro"><a href="{% url 'eliminar_el_libro' pk=libro.pk %}">Eliminar libro</a></p>
            {% elif user.is_authenticated  %}
                {% if user not in lectores %}
                    <p><form action="{% url 'leyendo' pk=libro.pk %}" method="post" class="menu-autor-libro">{% csrf_token %}
                        <button class="boton-enlace">Leyendo</button>
                    </form></p>
                {% else %}
                    <p class="menu-autor-libro">Estás leyendo este libro</p>
                {% endif %}
            {% endif %}
            {% if not libro.autor == user %}
                <p class="menu-autor-libro"><a href="{% url 'usuario' pk=libro.autor.pk %}">Perfil del autor</a></p>
            {% endif %}
        </div>
        <div class="col-md-8">
            <h3>Capitulos</h3>
            <ol class="list-group list-group-numbered">
                {% for capitulo in capitulos %}
                    <li class="list-group-item"><a href="{% url 'capitulo' pk=capitulo.pk numero=capitulo.numero %}">{{ capitulo.titulo }}</a>
                        {% if capitulo.autor == user %}
                            - <a href="{% url 'editar_el_capitulo' pk=capitulo.pk %}">Editar capitulo</a>
                            - <a href="{% url 'eliminar_el_capitulo' pk=capitulo.pk %}">Eliminar capitulo</a>
                        {% elif user.is_authenticated and capitulo in capitulos_leidos %}
                            - Leido
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
{% endblock %}