{% extends 'libro/base.html' %}

{% block title %}
    <title>Fabulivum - {{ libro.titulo }}</title>
    <meta name="author" content="Javier Farré Avilés, {{ libro.autor.username }}.">
{% endblock %}

{% block content %}
    <h1>Fabulivum</h1>
    <h2>{{ libro.titulo }}</h2>
    <h3>Sinopsis</h3>
    <p>{{ libro.descripcion }}</p>
    <p>Inicio de publicación: {{ libro.inicio_publicacion }}</p>
    {% if libro.fin_publicacion is not empty %}
        <p>Fin de publicación: {{ libro.fin_publicacion }}</p>
    {% endif %}
    {% if libro.autor == user %}
        <p><a href = "{% url 'editar_el_libro' pk=libro.pk %}">Editar libro</a></p>
        {% if libro.fin_publicacion is empty %}
            <p><a href = "{% url 'nuevo_capitulo' libro=libro.pk %}">Nuevo Capitulo</a></p>
        {% endif %}
    {% endif %}
    <ol>
        {% for capitulo in capitulos %}
            <li><a href="{% url 'capitulo' pk=capitulo.pk %}">{{ capitulo.titulo }}</a>
                {% if capitulo.autor == user %}
                     - <a href="{% url 'editar_el_capitulo' pk=capitulo.pk %}">Editar capitulo</a>
                     - <a href="{% url 'eliminar_el_capitulo' pk=capitulo.pk %}">Eliminar capitulo</a>
                {% endif %}</li>
        {% endfor %}
    </ol>
{% endblock %}