{% extends 'libro/base.html' %}

{% block title %}
    <title>Fabulivum - Buscar libros</title>
    <meta name="author" content="Javier Farré Avilés">
{% endblock %}

{% block content %}
    <h2>Buscar libros</h2>
    <form action="{% url 'busqueda_de_libros' %}" method="get">
        <label for="titulo" class="barra-de-busqueda">Filtrar por titulo:</label>
        <input type="text" id="titulo" name="titulo" placeholder="Titulo" value="{{ request.GET.titulo }}">
        <label for="autor" class="barra-de-busqueda">Filtrar por autor:</label>
        <select name="autor" id="autor">
            <option value="">Cualquier autor</option>
        {% for autor in autores %}
            <option value="{{ autor.id }}" {% if request.GET.autor == autor.id|stringformat:"s" %}selected{% endif %}>{{ autor.username }}</option>
        {% endfor %}
        </select>
        <label for="genero" class="barra-de-busqueda">Filtrar por genero:</label>
        <select name="genero" id="genero">
            <option value="">Cualquier genero</option>
            {% for genero in generos %}
                <option value="{{ genero.id }}" {% if request.GET.genero == genero.id|stringformat:"s" %}selected{% endif %}>{{ genero.nombre }}</option>
            {% endfor %}
        </select>
        <button>Filtrar</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Portada</th>
                <th scope="col">Titulo</th>
                <th scope="col">Autor</th>
                <th scope="col">Genero</th>
                <th scope="col">Fecha de publicación</th>
                <th scope="col">Fecha de finalización</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for libro in object_list %}
            <tr>
                <td>
                    {% if libro.portada %}
                        <img style="height: 10em;" src="{{ libro.portada.url }}" alt="Portada de {{ libro.titulo }}">
                    {% else %}
                        Libro sin portada
                    {% endif %}
                </td>
                <td><a href="{% url 'libro' pk=libro.pk %}">{{ libro.titulo }}</a></td>
                <td>{{ libro.autor.username }}</td>
                <td>{{ libro.genero }}</td>
                <td>{{ libro.inicio_publicacion }}</td>
                {% if libro.fin_publicacion %}
                    <td>{{ libro.fin_publicacion }}</td>
                {% else %}
                    <td>En publicacion</td>
                {% endif %}
                <td>
                    <!--Los mensajes son provisionales.-->
                    <p><form action="{% url 'leyendo' pk=libro.pk %}" method="post" class="menu-autor-libro">{% csrf_token %}
                        <button class="boton-enlace">{% if libro not in libros_lector %}Incluir en la lista de lecturas{% else %}Excluir de la lista de lecturas{% endif %}</button>
                    </form></p>
                </td>
            </tr>
        {% empty %}
            <tr><td colspan="7">No se han encontrado libros</td></tr>
        {% endfor %}
        </tbody>
    </table>
    <p><a href="{% url 'lista_de_libros_faceta_lector' %}">Libros que sigues</a></p>
{% endblock %}