{% extends 'libro/base.html' %}

{% block title %}
    <title>Fabulivum - Lista de libros</title>
    <meta name="author" content="Javier Farré Avilés">
{% endblock %}

{% block content %}
    <h1><a href="{% url 'pagina_de_inicio' %}">Fabulivum</a></h1>
    <h2>Lista de libros</h2>
    <form action="{% url 'lista_de_libros_faceta_lector' %}" method="get">
        <label for="titulo" class="barra-de-busqueda">Filtrar por titulo:</label>
        <input type="text" id="titulo" name="titulo" placeholder="Titulo">
        <label for="autor" class="barra-de-busqueda">Filtrar por autor:</label>
        <select name="autor" id="autor">
            <option value="">Cualquier autor</option>
        {% for autor in autores %}
            <option value="{{ autor.id }}">{{ autor.username }}</option>
        {% endfor %}
        </select>
        <label for="genero" class="barra-de-busqueda">Filtrar por genero:</label>
        <select name="genero" id="genero">
            <option value="">Cualquier genero</option>
        {% for key, value in generos.items %}
            <option value="{{ key }}">{{ value }}</option>
        {% endfor %}
        </select>
        <label for="relacion" class="barra-de-busqueda">Filtrar por estado:</label>
        <select name="relacion" id="relacion">
            <option value="">Todos</option>
        {% for key, value in opciones.items %}
            <option value="{{ key }}">{{ value }}</option>
        {% endfor %}
        </select>
        <button>Filtrar</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Portada</th>
                <th scope="col">Titulo</th>
                <th scope="col">Autor</th>
                <th scope="col">Genero</th>
                <th scope="col">Fecha de publicación</th>
                <th scope="col">Fecha de finalización</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
        {% for libro in object_list %}
            <tr>
                <td>
                    {% if libro.portada %}
                        <img style="height: 10em;" src="{{ libro.portada.url }}" alt="Portada de {{ libro.titulo }}">
                    {% else %}
                        Libro sin portada
                    {% endif %}
                </td>
                <td><a href="{% url 'libro' pk=libro.pk %}">{{ libro.titulo }}</a></td>
                <td>{{ libro.autor.username }}</td>
                <td>{{ libro.genero }}</td>
                <td>{{ libro.inicio_publicacion }}</td>
                {% if libro.fin_publicacion %}
                    <td>{{ libro.fin_publicacion }}</td>
                {% else %}
                    <td>En publicacion</td>
                {% endif %}
                <td>
                    {% for estado in libro.lectores_libro.all %}
                        {% if estado.lector == request.user %}
                            {{ estado.relacion }}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% empty %}
            <tr><td colspan="7">No se han encontrado libros</td></tr>
        {% endfor %}
        </tbody>
    </table>
    <p><a href="{% url 'busqueda_de_libros' %}">Buscar nuevos libros</a></p>
{% endblock %}