{% extends 'libro/base.html' %}

{% block title %}
    <title>Fabulivum - Lista de libros</title>
    <meta name="author" content="Javier Farré Avilés">
{% endblock %}

{% block content %}
    <h1><a href="{% url 'pagina_de_inicio' %}">Fabulivum</a></h1>
    <h2>Lista de libros</h2>
    <form action="{% url 'lista_de_libros_faceta_autor' %}" method="get">
        <label for="estado" class="barra-de-busqueda">Filtrar por estado:</label>
        <select name="estado" id="estado">
            <option value="">Ambos</option>
            <option value="p">En publicacion</option>
            <option value="f">Finalizado</option>
        <button>Filtrar</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Portada</th>
                <th scope="col">Titulo</th>
                <th scope="col">Autor</th>
                <th scope="col">Genero</th>
                <th scope="col">Fecha de publicación</th>
                <th scope="col">Fecha de finalización</th>
            </tr>
        </thead>
        <tbody>
        {% for libro in object_list %}
            <tr>
                <td>
                    {% if libro.portada %}
                        <img style="height: 10em;" src="{{ libro.portada.url }}" alt="Portada de {{ libro.titulo }}">
                    {% else %}
                        Libro sin portada
                    {% endif %}
                </td>
                <td><a href="{% url 'libro' pk=libro.pk %}">{{ libro.titulo }}</a></td>
                <td>{{ libro.autor.username }}</td>
                <td>{{ libro.genero }}</td>
                <td>{{ libro.inicio_publicacion }}</td>
                {% if libro.fin_publicacion %}
                    <td>{{ libro.fin_publicacion }}</td>
                {% else %}
                    <td>En publicacion</td>
                {% endif %}
            </tr>
        {% empty %}
            <tr><td colspan="6">No has escrito ningun libro</td></tr>
        {% endfor %}
        </tbody>
    </table>
    <p><a href="{% url 'nuevo_libro' %}">Añadir nuevo libro</a></p>
{% endblock %}