{% extends 'libro/base.html' %}

{% block title %}
    <title>Fabulivum - Lista de autores</title>
    <meta name="author" content="Javier Farré Avilés">
{% endblock %}

{% block content %}
    <h1><a href="{% url 'pagina_de_inicio' %}">Fabulivum</a></h1>
    <h2>Lista de autores</h2>
    <form action="{% url 'lista_de_autores' %}" method="get">
        <label for="nombre" class="barra-de-busqueda">Buscar por nombre:</label>
        <input type="text" id="nombre" name="nombre" placeholder="Nombre">
        <button>Buscar</button>
    </form>
    <ul class="list-group">
        {% for usuario in object_list %}
            <li class="list-group-item"><a href="{% url 'usuario' pk=usuario.pk %}">{{ usuario.username }}</a> - {{ usuario.autor_libro.count }} libros</li>
        {% empty %}
            <li class="list-group-item">No se han encontrado autores</li>
        {% endfor %}
    </ul>
{% endblock %}