{% extends 'libro/base.html' %}

{% block title %}
    <title>Fabulivum - Lista de libros</title>
    <meta name="author" content="Javier Farré Avilés">
{% endblock %}

{% block content %}
    <h1><a href="{% url 'pagina_de_inicio' %}">Fabulivum</a></h1>
    <h2>Lista de libros</h2>
    <form action="{% url 'lista_de_libros_faceta_lector' %}" method="get">
        <label for="titulo" class="barra-de-busqueda">Filtrar por estado:</label>
        <select name="relacion" id="relacion">
            <option value="">Todos</option>
        {% for key, value in opciones %}
            <option value="{{ key }}">{{ value }}</option>
        {% endfor %}
        <button>Filtrar</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Portada</th>
                <th scope="col">Titulo</th>
                <th scope="col">Autor</th>
                <th scope="col">Genero</th>
                <th scope="col">Fecha de publicación</th>
                <th scope="col">Fecha de finalización</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
        {% for libro in object_list %}
            <tr>
                <td>
                    {% if libro.portada %}
                        <img style="height: 10em;" src="{{ libro.portada.url }}" alt="Portada de {{ libro.titulo }}">
                    {% else %}
                        Libro sin portada
                    {% endif %}
                </td>
                <td>{{ libro.titulo }}</td>
                <td>{{ libro.autor.username }}</td>
                <td>{{ libro.genero }}</td>
                <td>{{ libro.inicio_publicacion }}</td>
                {% if libro.fin_publicacion %}
                    <td>{{ libro.fin_publicacion }}</td>
                {% else %}
                    <td>En publicacion</td>
                {% endif %}
                <td>
                    {% for estado in libro.lectores_libro.all %}
                        {% if estado.lector == request.user %}
                            {{ estado.relacion }}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% empty %}
            <tr><td colspan="7">No se han encontrado libros</td></tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}