{% extends 'registration/base.html' %}

{% block title %}
    <title>Fabulivum</title>
    <meta name="author" content="Javier Farré Avilés">
{% endblock %}

{% block content %}
    <h1 class="texto-pagina-inicio">Fabulivum</h1>
    <p class="texto-pagina-inicio">Lee y escribe historias online.</p>
    <p class="texto-pagina-inicio">Podrás publicar tus creaciónes literarias, enlazando los capitulos a tu elección, y acceder a los contenidos creados por otros autores registrados.</p>
    <p class="texto-pagina-inicio"><a href="{% url 'login' %}">Login</a></p>
    <p class="texto-pagina-inicio"><a href="{% url 'nuevo_usuario' %}">Registro de usuario</a></p>
{% endblock %}