{% extends 'libro/base.html' %}

{% block title %}
    <title>Fabulivum - {{ usuario.username }}</title>
    <meta name="author" content="Javier Farré Avilés, {{ usuario.username }}">
{% endblock %}

{% block content %}
    <div class="row">
        <h2>{{ usuario.username }}</h2>
        {% if usuario.imagen_perfil %}
            <p><img class="imagenes" src="{{ usuario.imagen_perfil.url }}" alt="Fotografía de {{ usuario.username }}"></p>
        {% endif %}
        <h3>Sobre mí</h3>
        <p>{{ usuario.sobre_mi }}</p>
        {% if usuario.pk == user.pk %}
            <p class="menu-autor-libro"><a class="enlace-boton" href="{% url 'editar_el_usuario' pk=usuario.pk %}">Editar</a></p>
            <p class="menu-autor-libro"><a class="enlace-boton" href="{% url 'password_change' %}">Cambiar la contraseña</a></p>
            <p class="menu-autor-libro"><a class="enlace-boton" href="{% url 'desactivar_el_usuario' pk=usuario.pk %}">Desactivar</a></p>
            <p class="menu-autor-libro"><a class="enlace-boton" href="{% url 'nuevo_libro' %}">Nuevo libro</a></p>
        {% endif %}
    </div>
{% endblock %}