body {
    background-image: url("/static/img/bg.jpg");
    background-repeat: no-repeat;
    padding: 0em 2em;
    height: 100%;
}
#base {
    background-color: #FFFFF4;
}
h1, h2, h3 {
    color: #38384E;
    text-align: center;
    margin-top: 1.2em;
}
h1.texto-pagina-inicio {
    font-size: 3em;
}
.texto-pagina-inicio, .menu-autor-libro {
    text-align: center;
}
p.texto-pagina-inicio {
    font-size: 2em;
}
label {
    font-weight: bold;
}
label.barra-de-busqueda {
    padding: 0.2em 0em;
}
input, textarea, select {
    background-color: #E9DEE2;
}
input, button, textarea, select {
    border-radius: 0.4em;
}
.formularios input, .formularios textarea, .formularios select {
    width: 100%;
    padding: 0.5em;
    margin: 0.2em 0em;
}
.login-style label, .login-style input {       
    float: left;
}
.login-style input {
    margin: 0em 0.2em;
}
.boton-enlace {
    background-color:inherit;
    border: none;
}
.boton-enlace, a, .nav-link {
    color: #63434D;
}
a {
    text-decoration: none;
}
.list-group{
    margin: 0.5em 0em;
}
.list-group-item, table.table tbody tr td, button {
    background-color: #DEDEC8;
}
.item-lista-libros {
    margin: 0em 0.2em;
}
.imagenes {
    max-height: 20em;
    max-width: 100%;
}
nav, table.table thead tr th{
    background-color: #B8B8C0;
}