{% extends 'registration/base.html' %}

{% block title %}
    <title>Fabulivum - Desactivar {{ usuario.username }}</title>
    <meta name="author" content="Javier Farré Avilés">
{% endblock %}

{% block content %}
    <h1>Desactivar {{ usuario.username }}</h1>
    <form method="POST">{% csrf_token %}
        <p>Desmarque la casilla para desactivar este perfil de usuario. <input type="checkbox" name="is_active" id="id_is_active" checked></p>
        <a href="{% url 'usuario' pk=usuario.pk %}">Cancelar</a>
        <button type="submit">Desactivar</button>
    </form>
{% endblock %}